@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    align-items: center;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "poppins", sans-serif;
    /* background-color: black; */
}

body {
    overflow: scroll;
}

.produtos {
    background-color: black;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}


.produtos h4{
    color: blueviolet;
}
.produtos1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}
.produtos2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
    
}



.produtos1 img {
    width: 250px;
    height: 333px;
    
}
.produtos2 img {
    width: 250px;
    height: 333px;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 5px 0 1 ;
}


.cabeçalho-link {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;

}

.cabeçalho-link a {
    color: black;
    font-size: 30px;
}

.cabeçalho-link a:hover {
    color: rgb(199, 62, 199);
    transition: 0.5s;
    text-shadow: 0.1em 0.1em 0.1em rgba(16, 16, 16, 0.788);
}

#logo {

    display: inline-flex;
    width: 150px;
    height: 100px;

}
#logofooter {
    margin-left: 10px;
    width: 150px;
    height: 500;

}

footer{
    background-color: white;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1px 0 1  ;

}


.footer-link {
    display: flex;
    gap: 3rem;
    font-weight: 2000;
    cursor: pointer; 

    }
button {
    color: purple;
    background: transparent;
    border: solid 1px purple;
    padding: 10px;
    border-radius: 35px;
    font-size: 40px;
    width: 300px;
    cursor: pointer;

}

button:hover {
    background-color: purple;
    color: white;
    transition: 0.5s;
}

.countainer-text {
    padding: 80px 0 0 200px;
    display: flex;
    flex-direction: row;

}

.text h3 {
    color: white;
    font-size: 40px;

}

.text h1 {
    color: white;
    margin-top: 5px;
}

.text span {
    color: rgb(199, 62, 199);
    text-shadow: 0.1em 0.1em 0.1em black;

}

.text p {
    color:white;
    font-size: 50px;
    font-weight: 300;
    margin-top: 10px;
}



